.MMGameMainContainer {
  background: rgba(26, 32, 44, 1);
  height: 100%;
}
.MMGameResultContainer {
  background: rgba(26, 32, 44, 1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blackcolor {
  color: rgba(51, 65, 85, 1);
}
.MMGameHeading {
  font-family: Bree Serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.MMLevelContainer {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MMLevel {
  font-family: Bree Serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32.59px;
  text-align: center;
  color: #ffffff;
}
.MMUnorderedBox-level1 {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  width: 250px;
  margin-bottom: 100px;
}
.MMUnorderedBox-level2 {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  width: 350px;
  margin-bottom: 120px;
}
.MMUnorderedBox-level3 {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  width: 450px;
  margin-bottom: 140px;
}
.MMUnorderedBox-level4 {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  width: 490px;
  margin-bottom: 140px;
}
.MMUnorderedBox-level5 {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  width: 550px;
  margin-bottom: 140px;
}
.MMListItemBox-level1 {
  background-color: rgba(203, 213, 225, 1);
  list-style-type: none;
  width: 70px;
  height: 70px;
  cursor: pointer;
  margin: 5px;
}
.MMListItemBox-level2 {
  background-color: rgba(203, 213, 225, 1);
  list-style-type: none;
  width: 68px;
  height: 68px;
  margin: 5px;
  cursor: pointer;
}
.MMListItemBox-level3 {
  background-color: rgba(203, 213, 225, 1);
  list-style-type: none;
  width: 66px;
  height: 66px;
  margin: 5px;
  cursor: pointer;
}
.MMListItemBox-level4 {
  background-color: rgba(203, 213, 225, 1);
  list-style-type: none;
  width: 64px;
  height: 64px;
  margin: 5px;
  cursor: pointer;
}
.MMListItemBox-level5 {
  background-color: rgba(203, 213, 225, 1);
  list-style-type: none;
  width: 62px;
  height: 62px;
  margin: 5px;
  cursor: pointer;
}
.Active {
  background: rgba(70, 122, 255, 1);
}
.MMBoxButton {
  background-color: transparent;
  border: 0 none;
  outline: none;
  cursor: pointer;
}
.Red {
  background-color: red;
}
.ProgressBar {
  width: 75%;
}
.MMemojis {
  width: 45px;
  height: 45px;
}
.MMResultEmojisListItem {
  list-style-type: none;
  margin: 45px;
  margin-bottom: 15px;
}
.MMGameResultUnorderedList {
  display: flex;
  padding: 0;
}
.MMResultLevel {
  list-style-type: none;
  margin: 65px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.MMResultCongratsHeading {
  color: blue;
  font-size: 55px;
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
}
.MMResultPara {
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  margin-top: 18px;
}
.MMResultButton {
  border: 0 none;
  background-color: blue;
  color: #ffffff;
  border-radius: 8px;
  padding: 12px;
  font-size: 25px;
}
