.CardFlipMainContainer {
  background-image: url('https://res.cloudinary.com/dktgcdgar/image/upload/v1713683645/44350_1_chgjhz.png');
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CardFlipGameHeading {
  font-family: Bree Serif;
  font-size: 34px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  color: #ffffff;
}
.CardFlipScoreContainer {
  display: flex;
  width: 65%;
  justify-content: space-between;
}
.CardFlipCount {
  font-size: 22px;
  color: #ffffff;
  font-family: Bree Serif;
}
.CardFlipTimerSmallDevices {
  display: none;
}
.CardFlipTimer {
  font-size: 22px;
  color: #ffffff;
  font-family: Bree Serif;
}
.CardLowestFlip {
  font-size: 22px;
  color: #ffffff;
  font-family: Bree Serif;
}
.CardFlipScore {
  font-size: 22px;
  font-family: Bree Serif;
  color: #ffffff;
}
.CardLowestFlip {
  font-size: 22px;
  font-family: Bree Serif;
  color: #ffffff;
}
.CardFlipUnordered {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid rgba(167, 243, 208, 0.5);
  border-radius: 16px;
  background: rgba(21, 67, 21, 1);
  width: 65%;
}
.CardsListItem {
  background-color: rgba(167, 243, 208, 0.5);
  width: 135px;
  height: 135px;
  list-style-type: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 12px;
}
.WrongChoice {
  background-color: #ffffff;
  width: 135px;
  border: 4px solid red;
  height: 135px;
  list-style-type: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 12px;
}
.CorrectChoice {
  background-color: #ffffff;
  width: 135px;
  height: 135px;
  border: 4px solid green;
  list-style-type: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 12px;
}
.FootPrintImg {
  width: 80px;
  height: 80px;
}
.CardFlipResultContainer {
  background: rgba(20, 51, 46, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.CardFlipResultEmoji {
  width: 120px;
  height: 120px;
}
.CardFlipResultCongrats {
  color: rgba(74, 222, 128, 1);
  font-size: 32px;
  font-family: Bree Serif;
  font-weight: 400;
  line-height: 64px;
  margin: 10px;
}
.CardFlipResultPara {
  font-family: Bree Serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
}
.CardFlipResultPara2 {
  font-family: Bree Serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
}
.CardFlipPlayAgainButton {
  background: rgba(255, 255, 255, 1);
  color: #333333;
  padding: 12px;
  border: 0 none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 8px;
  margin: 8px;
  font-family: Bree Serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.Containerone {
  display: none;
}
.Containertwo {
  display: none;
}
.CardFlipTimerSmallDevices {
  display: none;
}
@media (max-width: 576px) {
  .CardFlipMainContainer {
    height: 100vh;
  }
  .CardFlipScoreContainer {
    width: 100%;
    display: none;
  }
  .CardFlipTimer {
    display: none;
  }
  .CardLowestFlip {
    font-size: 22px;
    margin-bottom: 0;
  }
  .CardFlipUnordered {
    width: 100%;
    padding: 12px;
  }
  .CardsListItem {
    width: 80px;
    height: 80px;
    margin: 8px;
  }
  .FootPrintImg {
    width: 40px;
    height: 40px;
  }
  .CardFlipScore {
    margin-right: 4px;
    font-size: 22px;
  }
  .CardFlipCount {
    margin-left: 4px;
    font-size: 22px;
  }
  .Containerone {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
  }
  .Containertwo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
  }
  .CardFlipTimerSmallDevices {
    display: flex;
    font-size: 32px;
    color: #ffffff;
    font-family: Bree Serif;
    margin-bottom: 0;
  }
}
