.EmojiGameMainContainer {
  background-image: linear-gradient(#9796f0, #fbc7d4);
  height: 100%;
}
.rContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
.cardsContainer-emoji {
  display: flex;
  justify-content: center;
  align-items: center;
}
.EmojiBackIconContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  margin: 0;
}
.trigger-button-emoji {
  background-color: transparent;
  border: 2px solid black;
  width: 62px;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
.BackButton {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 0 none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.EmojiHomeBack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 80px;
}
.BackIcon {
  width: 35px;
  height: 35px;
}
.backpara {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}
.closeContainer {
  text-align: right;
}
.closeButton {
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}
.rulesHeading {
  color: #000000;
  text-align: center;
  margin: 0;
  font-size: 22px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}
.rulesListItem {
  list-style-type: disc;
  margin: 8px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}
.popup-content {
  border-radius: 8px;
}
@media (max-width: 576px) {
  .cardsContainer-emoji {
    margin-top: 0px;
  }
  .ButtonEmoji {
    outline: none;
  }
  .EmojiHomeBack {
    padding-top: 0px;
    margin-left: 25px;
  }
  .rulesListItem {
    font-size: 15px;
  }
}
.UnorderedList {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .UnorderedList {
    width: 100%;
    padding: 0;
  }
}
.EmojiRulesMainContainer {
  background-image: linear-gradient(#9796f0, #fbc7d4);
  height: 100%;
  padding-bottom: 18px;
}
.rulesBackWidth {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.initialRules {
  display: flex;
  justify-content: center;
}
.InitialRulesContainer {
  border: 3px solid rgba(255, 255, 255, 0.19);
  background: rgba(255, 255, 255, 0.2);
  width: 85%;
  border-radius: 8px;
  display: flex;
  padding: 20px;
}
.InitialRulesFirstContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.InitialEmojiRulesImage {
  width: 350px;
  height: 400px;
}
.InitialRulesSecondContainer {
  width: 60%;
}
.InitialRulesHeading {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.InitialrulesListItem {
  list-style-type: disc;
  font-size: 15px;
  margin: 8px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: rgba(71, 85, 105, 1);
}
.EmojiStartPlayingButton {
  background-color: rgba(51, 65, 85, 1);
  color: White;
  padding: 8px;
  border: 0 none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 8px;
}
.InitialRulesPlayContainer {
  text-align: center;
}
@media (max-width: 576px) {
  .InitialRulesContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .InitialRulesSecondContainer {
    width: 100%;
  }
  .InitialEmojiRulesImage {
    width: 250px;
    height: 250px;
  }
  .emojigameUnorderedList {
    padding: 0;
  }
  .InitialRulesHeading {
    font-size: 22px;
  }
  .EmojiHomeBack {
    width: 90%;
    margin-left: 20px;
  }
}
