.EmojiBackIconContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}
.trigger-button {
  background-color: transparent;
  border: 2px solid #ffffff;
  width: 62px;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  font-family: Bree Serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  text-align: Center;
}
.BackButton {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 0 none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.EmojiHomeBack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}
.ResultPara {
  font-size: 25px;
  color: #ffffff;
  font-family: 'Bree-serif';
}
.rpsRulesHeading {
  margin: 0;
}
.white {
  color: #ffffff;
}
.BackIcon {
  width: 35px;
  height: 35px;
}
.backpara {
  font-family: Bree Serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.closeContainer {
  text-align: right;
}
.RPSRULESLIST {
  color: rgba(71, 85, 105, 1);
  font-size: 15px;
  margin: 4px;
}

.orange {
  color: orange;
}
.closeButton {
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}
.rulesHeading {
  color: #000000;
  text-align: center;
  margin: 0;
  font-size: 22px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}
.rulesListItem {
  list-style-type: disc;
  font-size: 15px;
  margin: 8px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}
.popup-content {
  border-radius: 8px;
  width: 85%;
}
.ResultView {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.OneItem {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Person {
  font-family: 'Bree Serif';
  margin: 3px;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 28px;
  color: #ffffff;
  margin-bottom: 20px;
}
.RPSPlayAgainButton {
  width: 155px;
  background-color: #ffffff;
  padding: 12px;
  font-family: 'Bree-serif';
  border: 0 none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
  margin-bottom: 12px;
}
@media (max-width: 576px) {
  .ResultView {
    width: 80%;
    margin-bottom: 80px;
  }
  .cardsContainer {
    margin-top: 150px;
  }
  .ButtonEmoji {
    outline: none;
  }
}
.UnorderedList {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.rpsScoreContainerEmojiAndScore {
  display: flex;
  width: 55%;
  justify-content: space-between;
  align-items: center;
}
.rpsResultEmoji {
  width: 100px;
  height: 100px;
}
.RPSResultContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}
@media (max-width: 576px) {
  .UnorderedList {
    width: 100%;
    padding: 0;
  }
  .rpsResultEmoji {
    width: 130px;
    height: 130px;
    margin-left: 28px;
  }
  .rpsScoreContainerEmojiAndScore {
    width: 100%;
  }
  .RpsUnorderedList {
    overflow-y: auto;
    height: 80vh;
    margin-top: 0;
  }
}
.rpsMainContainer {
  height: 100vh;
  background-color: #223a5f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.rpsscoreContainer {
  border: 1px solid #ffffff;
  width: 80%;
  height: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.rpsheading {
  width: 40px;
  font-family: 'Bree Serif';
  margin: 3px;
  font-size: 18px;
  color: #ffffff;
  margin-left: 35px;
}
.ScoreValueContainer {
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  width: 105px;
  height: 85px;
  align-items: center;
}
.ScorePara {
  font-family: 'Bree Serif';
  margin: 3px;
  font-size: 18px;
}
.Score {
  font-family: 'Roboto';
  margin: 2px;
  font-weight: bold;
  margin-top: 8px;
  font-size: 25px;
}
.PlayingView {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.EachItem {
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  margin: 12px;
}
.ImageElement {
  width: 135px;
  height: 135px;
}
@media (max-width: 576px) {
  .rpsMainContainer {
    height: 100vh;
    justify-content: flex-start;
  }
  .rpsscoreContainer {
    margin-top: 50px;
    margin-bottom: 120px;
    height: 250px;
    flex-direction: column;
  }
  .rpsheading {
    width: 100%;
    font-size: 25px;
  }
  .PlayingView {
    width: 100%;
    margin-bottom: 80px;
  }
  .ImageElement {
    width: 150px;
    height: 150px;
  }
}
